.Payment_header{
    padding: 20px;
    text-align: center;
    font-style: 24px;
    background-color: rgb(234, 237,237);
}

.Payment{
    padding: 30px;
}

.flex{
    display: flex;
    gap: 20px;
    padding: 30px;
}

.flex h3{
    min-width: 300px;
}
.flex img{
    width: 80px !important;
}

.flex div {
    height: auto !important;
}

.Payment_card_container {
   max-width: 350px;
   width: 100%;
}

.Payment_details{
    font-style: 20px;
}

.payment_price{
    padding: 20px;
}

.payment_price > div{
    display: flex;
    font-style: 16px;
    gap: 10px;
}

.Payment_details button {
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
} 

.Payment_details button:hover {
    background-color: var(--primary-shade);
}

.loading{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: rgb(52, 52, 52);
    
}

@media screen and (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  }

  


